/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    height: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f0f0f0;
    font-family: 'Arial', sans-serif;
    color: #333;
}

#main-div {
    text-align: center;
    padding: 20px;
    background: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

#canvas {
    width: calc(min(80vw, 80vh)); /* Set width to the smaller of 80% of viewport width or height */
    height: calc(min(80vw, 80vh)); /* Set height to the smaller of 80% of viewport width or height */
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#controls-text {
    font-size: 18px;
    text-align: left;
    margin-top: 20px;
    color: #555;
    line-height: 1.6;
}